@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Teko:wght@300&display=swap');

:root {
    --fonte1: 'Oswald', sans-serif;
    --fonte2: 'Roboto Mono', monospace;
    --fonte3: 'Teko', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(1, 1, 36);
}

main > div#left-login {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 > strong {
    text-transform: uppercase;
    color: rgb(29, 219, 115);
    font-family: var(--fonte1);
    font-size: 40px;
}

main > div#left-login > div#espaco-img-text {
    display: flex;
}

main > div#left-login > div#espaco-img-text > h1 {
    color: rgb(47, 240, 134); 
    font-family: var(--fonte2);
    font-size: 15px;
    padding-left: 10px;
}

main > div#left-login > div#espaco-img-text > #image{
    height: 100px;
    margin-left: 40px;
    margin-top: 50px;
    padding-right: 10px;
}

div#right-login {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

div#espaco-login {
    background-color: rgb(26, 26, 56);
    height: 320px;
    width: 280px;
    margin-top: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.582);
}

h2 {
    text-transform: uppercase;
    font-family: var(--fonte3);
    font-size: 1.5em;
    letter-spacing: 3px;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.616);
    text-align: center;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}

div#right-login > div#espaco-login > form {
    padding: 0px 15px;
    margin: 0px;
}

div#usuario {
    margin-bottom: 7px;
}

div.campo > label {
    color: white;
    font-size: 13px;
    font-family: var(--fonte2);
}

div#right-login > div#espaco-login > form > div.campo > input {
    height: 35px;
    width: 100%;
    margin: 7px 0px;
    padding: 6px;
    border: none;
    border-radius: 10px;
    background-color: rgb(55, 55, 107);
    color: white;
    transform: translate(-5px);
}

::placeholder {
    color: rgb(173, 171, 171);
    padding: 5px;
}

form button{
    font-family: var(--fonte2);
    font-weight: bolder;
    font-size: 12px;
    margin-top: 15px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: white;
    cursor: pointer;
}

form button:hover {
    color: rgb(25, 197, 102);
    transform: translate(-2px, -1px);
    transition: transform 0.3s;
}